:root {
  font-family: Arial, Helvetica, sans-serif;

  --orange-color: #ff7235;
  --orange-darker-color: #ca511d;
  --green-color: #468847;
  --green-darker-color: #2c552d;
  --cancel-color: #f80000;
  --gray-color: #b6b6b6;
  --gray-dark-color: #696969;

  .Card {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 0.3rem var(--gray-color);

    .CardFooter {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .error {
        color: var(--cancel-color);
        margin-bottom: 0.5rem;
        font-size: small;
        font-weight: normal;
      }
    }
  }
}

head {
  height: 0;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

.Container {
  display: flex;
  flex-direction: column;
  padding: 0 10rem;
}
